.form {
  display: flex;
  width: 100%;
  margin: 1rem;
}

.single.form {
  margin: 1rem 0rem;
}

.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--primary-font);
  border: 1px solid #eee;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #eee;
  transition: 0.2s;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 0px #fea;
}

.button {
  border: none;
  cursor: pointer;
  color: #333;
  background: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
}

.button:hover,
.button:focus {
  outline: none;
}

.button:hover svg path,
.button:focus svg path {
  fill: #fb1;
}

.button:hover svg g,
.button:focus svg g {
  animation: latir 0.6s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
